# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
spark_env/

# Spark
metastore_db/
derby.log
spark-warehouse/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Results and logs
results/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
